<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- memcached 客户端，用于缓存数据-->
    <bean name="memcachedClient"
          class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean" destroy-method="shutdown">
        <!-- 设置客户端连接的服务器有哪些-->
        <property name="servers">
            <value>localhost:11211</value>
        </property>
        <!-- 设置服务器权重，与上一属性对应 -->
        <property name="weights">
            <list>
                <value>1</value>
            </list>
        </property>
        <!--         nio connection pool size -->
        <property name="connectionPoolSize" value="20"></property>
        <!--         Use binary protocol,default is TextCommandFactory -->
        <property name="commandFactory">
            <bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory"></bean>
        </property>
        <!--         Distributed strategy -->
        <property name="sessionLocator">
            <bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"></bean>
        </property>
        <!--         Serializing transcoder -->
        <property name="transcoder">
            <bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder"/>
        </property>
    </bean>


    <!-- 设置JsonDecoder解码的class类-->
    <bean id="organizationDecoder" class="cn.edu.hebtu.www.clubassembly.common.memcached.JsonDecoder">
        <property name="className" value="cn.edu.hebtu.www.clubassembly.web.model.Organization"/>
    </bean>

    <!-- 组织存储实体-->
    <bean id="organizationStorage" class="cn.edu.hebtu.www.clubassembly.common.memcached.MemcacheStorage">
        <property name="memcachedClient" ref="memcachedClient"/>
        <property name="decoder" ref="organizationDecoder"/>
        <property name="prefix" value="contacts"/>
        <property name="time" value="0"/>
    </bean>
</beans>